.summary {
  margin-top: 0;
}

.hourly-description {
  padding: 5px;
  min-width: 20%;
  box-shadow: -1px -1px 8px 1px black;
  margin: 5px 5px 10px 5px;
}

.hourly-forecasts {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  font-size: 0.5em;
  transition: flex 5s ease-out;
}

.hourly-precip-chance {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .hourly-description img {
    width: 50px;
    height: auto;
  }
}
