.daily-forecasts {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  transition: flex 5s ease-out;
}

.daily-description {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  border: 1px solid black;
  box-shadow: -1px -1px 8px 1px black;
  margin: 5px;
  width: 25%;
}

.daily-date-time {
  min-height: 60px;
}

.day-precip-chance {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.day-summary {
  font-size: 0.8em;
  min-height: 60px;
}

.day-stats {
  font-size: 0.6em;
}

@media only screen and (max-width: 992px) {
  .day-precip-chance img {
    width: 50px;
    height: auto;
  }

  .daily-description {
    min-width: calc(33%);
  }
}
