.currently-description {
  display: flex;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 20px 40px;
}

.currently-descriptor {
  padding: 20px;
}

@media only screen and (max-width: 992px) {
  .currently-description {
    max-height: 100%;
  }
}
