.currently-description {
  display: flex;
  flex-flow: row;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.currently-description.collapsed {
  max-height: 0;
}

.currently-section-title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.descriptor {
  padding: 5px 10px;
  border: 1px gray solid;
  margin: 5px;
}
