.currently-description {
  display: flex;
  flex-flow: row;
  max-width: 100%;
  flex-wrap: wrap;

  justify-content: center;
}

#currently-section-title {
  display: flex;
  flex-flow: row;
  justify-content: center;
  cursor: pointer;
}

.descriptor {
  padding: 5px 10px;
  border: 1px gray solid;
  margin: 5px;
}

#summary {
  margin-top: 0;
}
