.navbar {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 20vh;
  width: 100vw;
  background-color: #262626;
  opacity: 0.95;
}

.navbar-img {
  height: 20vh;
  left: 0;
}

@media only screen and (max-width: 992px) {
  .navbar {
    font-size: calc(10px + 1vmin);
  }
  .rainbow-img {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
  }
}
