#navbar-light {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 20vh;
  width: 100vw;
  max-width: 100%;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  background-color: rgb(235, 235, 235);
  color: black;
  opacity: 0.95;
}

#navbar-dark {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  height: 20vh;
  width: 100vw;
  max-width: 100%;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  background-color: #181818;
  color: white;
  opacity: 0.95;
}

.app-title {
  text-align: center;
  width: 50%;
}

.navbar-img {
  position: relative;
  width: 25%;
}

.navbar-img img {
  position: absolute;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

#img-cloud-sun {
  left: 0;
}

#img-rainbow {
  right: 0;
}

@media only screen and (max-width: 992px) {
  .navbar {
    height: 15vh;
  }
  #img-rainbow {
    height: auto;
  }
}

@media only screen and (max-width: 600px) {
  #img-cloud-sun {
    height: auto;
  }
  .app-title {
    font-size: 1.5em;
  }
}
