.location-section {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
}

.location-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 33%;
  box-shadow: -1px -1px 5px 1px black;
}

.smooth-collapse {
  width: 100%;
}

.input-form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.location-input-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 20px 0;
}

.input-fields-container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.location-label {
  width: 50%;
  text-align: right;
}

.input-fields {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.location-input-field {
  margin: 22px 5px 20px 5px;
  width: calc(60px + 2vmin);
}

.select-units {
  margin: 5px 0 0 10px;
}

.location-section-title {
  cursor: pointer;
  font-size: 0.75em;
}

.select-direction {
  margin-top: 2px;
  padding: 1px 0;
}

.location-buttons-dark {
  cursor: pointer;
  font-size: 0.8em;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  background-color: rgb(61, 61, 61);
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  box-shadow: -1px -1px 2px 2px black;
  width: 33%;
}

.location-buttons-dark:hover {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  background-color: rgb(41, 41, 41);
}

.location-buttons-light {
  cursor: pointer;
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  font-size: 0.8em;
  background-color: #009bca;
  color: white;
  border: 1px solid black;
  border-radius: 6px;
  padding: 5px;
  /* box-shadow: -1px -1px 2px 2px black; */
  width: 33%;
}

.location-buttons-light:hover {
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  background-color: #00b5ec;
}

@media only screen and (max-width: 992px) {
  .location-section {
    flex-flow: column;
    padding: 5px 0;
    margin: 0;
  }

  .location-container {
    width: auto;
  }

  #coords-container {
    box-shadow: 0 0px 5px black;
  }

  #geocode-container {
    box-shadow: 0 1px 5px black;
  }

  #local-container {
    box-shadow: 0 2px 5px black;
  }
}
