.location-section {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  box-shadow: 0 1px 5px black;
  width: 100%;
  max-width: 100%;
  margin: 20px 0;
  padding: 20px 0;
}

.location-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 33%;
}
#coords-container {
  border-right: 1px solid black;
}

#local-container {
  border-left: 1px solid black;
}

.smooth-collapse {
  width: 100%;
}

.input-form {
  display: flex;
  flex-flow: column;
}

.location-input-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 20px 0;
}

.input-fields-container {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.location-label {
  width: 50%;
  text-align: right;
}

.input-fields {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.location-input-field {
  margin: 22px 5px 20px 5px;
  width: calc(60px + 2vmin);
}

.select-units {
  margin: 5px 0 0 10px;
}

.location-section-title {
  cursor: pointer;
  font-size: 0.75em;
}

.select-direction {
  margin-top: 2px;
  padding: 1px 0;
}

@media only screen and (max-width: 992px) {
  .location-section {
    flex-flow: column;
    align-items: center;
    width: 100vw;
  }

  .location-container {
    width: 100%;
    padding: 2vh 0;
  }

  #coords-container {
    border-right: 0;
    border-bottom: 1px black solid;
  }

  #local-container {
    border-left: 0;
    border-top: 1px black solid;
  }
}
