.forecast {
  margin: 10px 0;
  padding: 5px 0;
  max-width: 80vw;
  box-shadow: 0 1px 5px black;
}
.section-title {
  min-width: 20%;
  text-align: left;
  padding-right: 10px;
}

.summary {
  text-align: left;
}

@media only screen and (max-width: 992px) {
  .forecast {
    box-shadow: 0 0 0;
  }
}
