body,
html,
#root {
  font-size: calc(10px + 2vmin);
  margin: 0;
  padding: 0;
  width: 100%;
}

.App {
  text-align: center;
  background-color: #262626;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;

  color: white;
  padding-right: 5vw;
  padding-left: 5vw;
}

.App-body {
  box-shadow: 0px 0px 5px black;
  margin-bottom: 20px;
  width: 80vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
