.App {
  text-align: center;
  background-color: #262626;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 5vw;
  padding-left: 5vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
