.dark-light-button {
  box-shadow: -2px -2px 5px 1px black;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 0.8em;
  padding: 5px;
  margin: 20px 0;
  cursor: pointer;
}

.show {
  transition: opacity 1.5s ease-out;
  visibility: visible;
  opacity: 1;
}

.hide {
  transition: opacity 1.5s ease-out;
  visibility: hidden;
  opacity: 0;
}
